@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 20px;
    background-color: #fff;
  }
#navbar-placeholder {
    margin: 0;
    padding: 0;
    background: none;
}
header{
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 0;
  transition: top 0.3s ease;  
}
/* Custom Scrollbar for WebKit Browsers */
::-webkit-scrollbar {
  width: 0px; 
}
  
  .badge {
    display: inline-block;
    background-color: #f2f4f6;
    border-radius: 15px;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
  }
  
  .header h1 {
    font-size: 48px;
    font-weight: 700;
    color: #ccc;
  }
  
  .header p {
    font-size: 18px;
    color: #ccc;
    margin-top: 10px;
  }
  .explore {
    font-size: 16px;              
    font-weight: 600;        
    color: black; 
    background-color: #5169f6    ;         
    /* background-color: rgb(72, 72, 205);  */
    border-radius: 15px;        
    padding: 15px 25px;         
    border: none;                
    cursor: pointer;             
    display: inline-flex;       
    align-items: center;        
    justify-content: center;    
    text-align: center;          
    line-height: 1.2;     
    margin-top: 30px;       
  }
  .explore:hover{
    background-color: #687ae3;
  }
  .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
    margin-top: 40px;
    margin-bottom: 30px;
    gap: 10px;
  }
  .filter-buttons a {
    text-decoration: none; /* Remove underline from links */
}
  
  .filter-buttons button {
    background-color: #F1F1F4;
    border: 2px solid #e2e8f0;
    border-radius: 50px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #151e2a;
    transition: all 0.2s ease;
  }
  
  .filter-buttons button:hover {
    background-color: #EAE0FE;
  }
  
  .filter-buttons .active {
    background-color: #EAE0FE;
    color: #151e2a;
  }
  
  .job-listings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
  }

  .job-item {
    background-color: #fff;
    border: 2px solid #d5d6d6;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px #d5d6d6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #e5e7eb;
    cursor: pointer;
    transition: border 0s, box-shadow 0s;
  }
  .job-item:hover{
    border: 3px solid #C0DECF;
    box-shadow: 0 2px 10px #C0DECF;
    transition: border 0s, box-shadow 0s;
  }
  .job-item .job-details {
    max-width: 82.5%;
  }
  .job-details p{
    font-size: 12px;
  }
  .job-item h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
    color: black;
  }
  
  .job-item p {
    font-size: 16px;
    color: #484a4c;
    margin-bottom: 10px;
  }
  
  .job-meta {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .job-meta span {
    display: inline-flex;
    align-items: center;
    background-color: #F0F2FF;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #1f2937;
    white-space: nowrap;
  }
  
  .job-item .dropdown-content ul {
    list-style-type: disc; 
    margin-left: 20px; 
  }
  .apply-link {
    font-size: 16px;
    font-weight: 600;
    color: #1f2937;
    text-decoration: none;
    background-color: #badbba;
    border: 2.5px solid #bcddbc;
    padding: 8px 15px;
    transition: all 0.3s ease;
    border-radius: 20px;
  }
  
  .apply-link:hover {
    border: 2px solid #bcddbc;
    background-color: #daf2da;
    border-radius: 20px;
  }

  
  
  /* Responsive Design */
  
  @media (max-width: 768px) {
    .header h1 {
      font-size: 36px;
    }
  
    .filter-buttons {
      gap: 8px;
    }
  
    .job-item {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .apply-link {
      margin-top: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .header h1 {
      font-size: 28px;
    }
  
    .filter-buttons {
      flex-direction: row;
      gap: 5px;
    }
  
    .job-item {
      padding: 15px;
    }
  
    .job-meta {
      flex-direction: column;
      gap: 5px;
    }
  
    .job-item h2 {
      font-size: 20px;
    }
  
    .apply-link {
      font-size: 14px;
    }
  }
  .dropdown-content {
    max-height: 0; /* Initially hidden */
    overflow: hidden; /*Hide overflow content */
    color: #101114;

  }
  .dropdown-content.show {
    max-height: 500px; /* Adjust to fit the content height */
  }
  .dropdown-heading {
    cursor: pointer; /* Indicate that the heading is clickable */
  }
  .dropdown-heading:hover {
    color: #5169F6; 
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
    background-color: #f5f5f5;
    cursor: default;
    transition: background-color 0.3s;
}

.skill img {
    width: 20px;
    height: 20px;
}

.skill:hover {
    background-color: #e0e0e0;
}
.hero-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: center;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(to right bottom, rgb(0, 0, 0), rgb(27, 17, 17), rgb(8, 8, 42), rgb(0, 0, 0));;
  padding-top: 120px; 
  height: 85vh;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;  
}

.hero-content {
  height: 80vh;
  padding-left: 70px; 
  padding-top: 80px;
}

.hero-content h1 {
  font-size: 55px;
  margin: 0 0 20px;
  font-weight: bold;
}

.hero-content p {
  font-size: 16px;
  color: #b0b0b0;
  align-items: flex-start;
  justify-content: flex-start;
}
.job-meta i {
  margin-right: 8px; /* Adjust the value as needed */
}
.dropdown-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  position: relative;
}

.arrow {
  margin-right: 10px; /* Add space between arrow and text */
  transition: transform 0.3s ease; /* Smooth arrow rotation */
  transform: rotate(0deg); /* Arrow initially points right */
}
.job-item.active .dropdown-content {
  display: block; /* Show dropdown content when active */
}

.job-item.active .arrow {
  transform: rotate(90deg); 
}

.search-bar {
    /* position: absolute; */
    overflow: hidden;
    background-color: transparent;
    backdrop-filter: blur(2px);
    align-self: flex-start;
    width: 450px;
    padding-top: 160px;
    margin-right: 70px;
    position: relative;
  }

.searchbar-icon {
    position: absolute;
    right: 20px;
    top: 185px;
    background-color: transparent;
    color: #5169F6;
    cursor: pointer;
    padding-right: 20px;
  }

input[type=text] {
    padding: 10px 40px 10px 16px;
    border: none;
    margin: 16px 14px;
    font-size: 18px;
    background-color: #f0f2ff;
    text-align: left;
    text-indent: 8px;
    outline: none;
    width: 420px;
  }

.search-bar , input[type=text] {
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  }
