/* General Carousel Styles */
.carousel-item {
  height: 100vh;
  position: relative;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.966) 30%,
    rgba(0, 0, 0, 0.953) 40%,
    rgba(0, 0, 0, 0.963) 50%,
    rgba(0, 0, 0, 0.648) 70%,
    rgba(0, 0, 0, 0.367) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1000;
}

.bg-dark {
  background: rgba(0, 0, 0, 0.511);
  z-index: 1;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.685);
  z-index: 1;
}

.carousel-item img {
  position: relative;
  z-index: 0;
}

.static-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.921);
  z-index: 15;
}

.static-text .main-text {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}

.static-text .sub-text {
  font-size: 1.5rem;
  margin-top: 0.2rem;
  margin-bottom: 20px;
}

.apply-btn {
  width: 40%;
  display: inline-block;
  background-color: #fff;
  color: #000; 
  padding: 10px 20px;
  border: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-shadow: none;
  transition: all 0.3s ease;
}

.apply-now-btn {
  width: 40%;
  display: inline-block;
  background-color: #fff;
  color: #000; 
  padding: 10px 20px;
  border: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-shadow: none;
  transition: all 0.3s ease;
}

.apply-btn {
  margin: 0 auto;
}

.apply-btn:hover {
  background-color: #876eea;
  color: #fff;
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .static-text .main-text {
    font-size: 2.5rem;
  }

  .static-text .sub-text {
    font-size: 1rem;
  }

  .apply-now-btn {
    width: auto;
  }

  .apply-btn {
    width: auto;
  }
}

@media (max-width: 768px) {
  .static-text .main-text {
    font-size: 2rem;
  }

  .static-text .sub-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .static-text .main-text {
    font-size: 1.6rem;
  }

  .static-text .sub-text {
    font-size: 0.8rem;
  }
}
