/* Overall Layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #fff;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}

/* Hero Section */
.hero-section {
    position: relative;
    background: url('../image/courses_hero_new1.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    color: white;
    overflow: hidden;
    border-radius: 15px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-section:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #876eea;
}

/* Gradient Overlay */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.2) 100%);
    z-index: 1;
}

/* Hero Content */
.hero-content {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    z-index: 2;
    max-width: 700px;
}

/* Learning Outcomes */
.learning-outcomes {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.learning-outcomes li:before {
    content: '✔';
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
}

.learning-outcomes li {
    position: relative;
    padding-left: 1.5em;
    margin-bottom: 10px;
}

.hero-content h1 {
    font-size: 2.5em;
    line-height: 1.2;
    margin-bottom: 20px;
}

/* Contact Us Button */
.contact-us {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.contact-us:hover {
    background-color: #876eea;
    color: #fff;
    transform: scale(1.05);
}

/* Pricing Section */
.pricing-info {
    background-color: #202020;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: transform 0.1s ease, box-shadow 0.3s ease
}

.pricing-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.pricing-info:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #876eea;
}

.confirmation-info {
    background-color: #202020;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.confirmation-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.confirmation-info:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #876eea;
}

.course-image {
    flex: 1;
    margin-right: 20px;
}

.course-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.pricing-details {
    flex: 2;
}

.pricing-details h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.pricing-details p {
    font-size: 16px;
    line-height: 1.6;
}

/* Combined Course and Pricing Section */
.course-info {
    position: relative;
    background: url('../image/courses-image.jpg') no-repeat center center;
    background-size: cover;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: transform 0.1s ease, box-shadow 0.3s ease;
}

/* Gradient Overlay */
.course-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
    border-radius: 10px;
}

.course-pricing-info {
    position: relative;
    z-index: 2;
    max-width: 800px;
}

.course-info:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #876eea;
}

.course-pricing-info h2 {
    font-size: 28px;
}

.course-pricing-info h3 {
    font-size: 18px;
    margin-top: 24px;
}

.course-pricing-info h4 {
    font-size: 16px;
    max-width: 600px;
    margin-bottom: 8px;
}

.course-pricing-info p {
    font-size: 16px;
    max-width: 600px;
}

.line-break-desktop {
    display: none;
}

/* Program Fee Section */
.program-fee-section {
    padding: 8px 0;
    text-align: center;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

.program-fee-title {
    font-size: 24px;
    color: #fff;
}

/* Program Fee Box */
.program-fee-box {
    background-color: #202020;
    width: 35%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.program-fee-box:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #876eea;
}

.program-fee-box h5 {
    background-color: #876eea;
    margin: auto;
    width: 30%;
    border-radius: 48px;
    text-align: center;
    font-weight: normal;
    padding: 8px;
    font-size: 16px;
}

/* Course Fee Text */
.course-fee {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 10px;
}

.gst-text {
    font-size: 16px;
    color: #999;
    margin-bottom: 30px;
}

/* Apply Now Button */
.fee-apply-now {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.fee-apply-now:hover {
    background-color: #876eea;
    color: #fff;
    transform: scale(1.05);
}

/* Program Features List */
.program-features {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}

.program-features li {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

.program-features li:before {
    content: '✔';
    position: absolute;
    left: 0;
    color: #876eea; /* Green color for the checkmark */
}


/* Apply Button */
.register-course {
    background-color: #fff;
    color: #000; 
    padding: 10px 20px;
    border: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.register-course:hover {
    background-color: #876eea;
    color: #fff;
    transform: scale(1.05);
}

.course-details-button {
    background-color: #fff;
    color: #000; 
    padding: 10px 20px;
    border: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-right: 18px;
}

.course-details-button:hover {
    background-color: #876eea;
    color: #fff;
    transform: scale(1.05);
}

.program-fee-button {
    background-color: #fff;
    color: #000; 
    padding: 10px 20px;
    border: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.program-fee-button:hover {
    background-color: #876eea;
    color: #fff;
    transform: scale(1.05);
}

.pricing-learning-outcomes {
    background-color: #202020;
    border-radius: 10px;
    transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.pricing-learning-outcomes h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.pricing-learning-outcomes ul {
    list-style-type: disc;
    padding-left: 20px;
}

.pricing-learning-outcomes ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Requirements Section */
.requirements-section {
    background-color: #202020;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: transform 0.1s ease, box-shadow 0.3s ease;
}
.requirements-section:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #876eea;
}

.requirements-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.requirements-box ul {
    list-style-type: disc;
    padding-left: 20px;  
}

.requirements-box ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Course Inclusions */
.course-inclusions {
    background-color: #202020;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: transform 0.1s ease, box-shadow 0.3s ease;
}
.course-inclusions:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #876eea;
}

.inclusions-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.inclusions-box ul {
    list-style-type: disc;
    padding-left: 20px;
}

.inclusions-box ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Course Content */
.course-content {
    padding: 40px 0;
    color: #FFFFFF !important; /* Ensures all text within course content is white */
}

.course-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #FFFFFF !important; /* Ensures the heading is white */
}

.course-content table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    margin-top: 20px;
}

.course-content th, .course-content td {
    padding: 15px;
    border: 1px solid #282828;
    color: #FFFFFF !important; /* Ensures text in table headers and cells is white */
}

.course-content th, .course-content td {
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
}

.course-content th {
    background-color: #333;
}

.course-content td button {
    background: none;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

/* Table Headers */
.course-content th {
    background-color: #202020;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

/* Table Cells */
.course-content td {
    background-color: #202020;
    color: #fff;
}

/* Instructors Section */
.instructors {
    padding: 40px 0;
}

.instructors h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.instructor-cards {
    display: flex;
    justify-content: space-between;
}

.instructor-card {
    background-color: #282828;
    padding: 20px;
    margin-right: 16px;
    border-radius: 10px;
    text-align: center;
    width: 45%;
    transition: transform 0.1s ease, box-shadow 0.3s ease;
}
.instructor-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #876eea;
}

.instructor-card img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}

.instructor-details h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.instructor-details p {
    font-size: 14px;
    margin-bottom: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        height: 575px;
    }

    .hero-section {
        background: url('../image/courses_hero_new2.jpg') no-repeat center center;
        background-size: cover;
    }

    .program-fee-section {
        display: flex;
        flex-direction: column;
    }

    .program-fee-box {
        margin-bottom: 18px;
    }

    .hero-content, .hero-image {
        padding-top: 20px;
        padding-right: 10px;
    }

    .hero-content h1 {
        font-size: 2em;
    }

    .program-fee-box {
        width: 100%;
    }

    .course-details-button {
        margin-bottom: 12px;
        margin-right: 0px;
    }

    .course-info {
        position: relative;
        background: url('../image/courses-image.jpg') no-repeat center center;
        background-size: cover;
        padding: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
        transition: transform 0.1s ease, box-shadow 0.3s ease;
    }

    .line-break-desktop {
        display: inline;
    }

    .line-break-mobile {
        display: none;
    }

    .pricing-info-container {
        flex-direction: column;
        align-items: center;
    }

    .course-image {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .price, .learning-outcomes {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .instructor-cards {
        flex-direction: column;
    }

    .instructor-card {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .course-content table {
        width: 100%;
        overflow-x: auto;
        border-collapse: collapse;
        margin-top: 20px;
        display: block;
        max-width: 350px;
    }

    .course-content td button {
        background: none;
        color: #ffffff;
        border: none;
        cursor: pointer;
        font-size: 0.9em;
    }

    /* Table Headers */
    .course-content th {
        background-color: #202020;
        font-weight: bold;
        color: #fff;
        text-align: center;
        font-size: 0.9em;
    }

    /* Table Cells */
    .course-content td {
        background-color: #202020;
        color: #fff;
        font-size: 0.9em;
    }
}


.footer {
    background-color: #23272A;
    color: #008000;
    padding: 10px 150px;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer .secpart{
    margin-left: 60px;
}
.container{
    gap: 100px;
}
.thirdpart{
    margin-left: 20px;
}
.footer a:hover {
    text-decoration: underline;
}

.footer h5 {
    font-weight: bold;
    font-size:20px;
}

.footer p {
    font-size: 14px;
    margin-bottom: 10px;
    
}

.footer .list-unstyled {
    padding-left: 0;
    list-style: none;
}

.footer .list-unstyled li {
    margin-bottom: 8px;
}

.footer .list-unstyled a {
    font-size: 14px;
}

.footer .text-center {
    margin-top: 20px;
    font-size: 14px;
}
.last{
    display: flex;
    justify-content: space-between;
    height: none;

}
.lastb{
    font-weight: bold;
    font-size: small;
    border: none;
    border-radius: 30px;
    padding: 10px;
    height: auto;
    align-items: center;
    margin-top: 40%;
    background-color: #008000;
    color: white;

}

.lastimg{
    height: auto; 
    width:80px;
}
/* Media Query for screens smaller than 1000px width */
@media screen and (max-width: 1000px) {

    .suntext {
        margin-top: 600px;
    }

    .suntext p {
        font-size: 4em;
    }

    .footer {
        padding: 10px 10px;
    }
    .footer .secpart {
        margin-left: 0;
    }

    .thirdpart,
    .secpart {
        margin: 5px 0;
        flex: 0;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px 50px;
        height: auto; 
    }

    .lastimg {
        width: 40px;
        height: auto;
    }

    .lalala p {
        font-size: 12px;
    }

    .lastb {
        margin-left: 30px;
        font-weight: bold;
        font-size: 10px;
        border: none;
        border-radius: 30px;
        padding: 12px 15px;
        background-color: #008000;
        color: white;
        width: 100px;
        height: auto;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .listone,
    .listtwo li a {
        padding: 1px;
        margin: 0;
    }

    .listone,
    .listtwo li {
        padding: 1px;
        margin: 0;
    }
}
