* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

header {
    background: linear-gradient(to right bottom, rgb(0, 0, 0), rgb(27, 17, 17), rgb(8, 8, 42), rgb(0, 0, 0));
    height: 300px;
    position: relative;
}

.logo {
    width: 86px;
    height: 87px;
    position: absolute;
    top: 38px;
    left: 110px;
    gap: 0px;
    opacity: 1; 
}

.nav-links {
    width: 721px;
    height: 33px;
    background-color: #D9D9D9;
    border-radius: 20px;
    position: absolute; 
    top: 60px;
    right: 100px; 
}


.form-container {
    background-color: #D3D9FF;
    width: calc(100% - 17.5%); /* 100% minus (8.75% + 8.75%) for left and right */
    height: 660px;
    margin: 50px auto;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 2px 2px 0px var(--MiscellaneousBarborder);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;  
}

label {
    align-self: flex-start;  
    margin-top: 10px; 
    margin-bottom: 5px;
    margin-left: 70px;
    font-weight: 500;
    color: #000;
}

input, textarea {
    width: 90%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;  /* Apply Poppins to text entered into input and textarea */
    margin-bottom: 20px;  /* Adjust bottom margin for spacing between fields */
}


button {
    margin-top: 10px;
    padding: 10px 30px;
    background-color: #5169F6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #000000;
}

button:hover {
    background-color: #4157C0;
}

footer {
    background-color: #040314;
    height: 250px;
    padding: 20px;
    text-align: center;
}

.footer-content {
    color: #D9D9D9;
}
