.carousel-item {
    height: 100vh; /* Full screen height */
    position: relative; /* To position the overlay */
  }
  
  .carousel-item img {
    object-fit: cover;
    height: 100%; /* Make sure the image fills the height */
    width: 100%;  /* Make sure the image covers the width */
  }
  
  /* Text overlay style */
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Inika', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.833); /* Shadow effect */
  }
  
  .carousel-caption .main-text {
    font-size: 5rem; /* Large font size for main text */
    font-weight: bold;
    margin: 0; /* Remove default margins */
  }
  
  .carousel-caption .sub-text {
    font-size: 1rem; /* Smaller font size for secondary text */
    margin-top: 1rem; /* Space between main text and sub-text */
    white-space: nowrap; /* Ensure sub-text is on one line */
  }
  